.app{
  display:flex;
  margin:auto;
  width:100%;
  padding: 32px 24px;
  gap: 24px;
  max-width: 1500px;
  margin:0px;
  justify-content: space-evenly;
}
.form-container {
  display:flex;
  flex-direction:column;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,25);
  gap:28px;
  height:29.7cm;
  width:27cm;
  flex-grow:3;
}


.input-form{
  display:flex;
  flex-direction: column;
  height: fit-content;
  flex-wrap: wrap;
  gap:24px;
  max-width: 750px;
}

.general-information{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.education{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  gap:18px;
}

.experience-info {
  display:flex;
  flex-direction:column;
  gap:5px;
}

.personal-information{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e374e;
  color:#f9f9f9;
}
.email-phone{
  display:flex;
  flex: space-between;
  gap:20px;
}

.title-date{
  display:flex;
  justify-content: space-between;
}
.school-name{
  text-align: left;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
