.app{
  display:flex;
  margin:auto;
  width:100%;
  padding: 32px 24px;
  gap: 24px;
  max-width: 1500px;
  margin:0px;
  justify-content: space-evenly;
  background-color: rgb(250, 247, 247);
}
.form-container {
  display:flex;
  flex-direction:column;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,25);
  gap:28px;
  height:29.7cm;
  width:27cm;
  flex-grow:3;
}

#form{
  background-color: rgb(252, 252, 252);
  /* border-top: 5px solid rgb(243, 244, 246); */
  box-shadow: 1px 1px 1px 1px rgb(180, 178, 178);
  border:2px solid rgb(180, 178, 178);
  padding: 12px 14px 60px 24px;
  border-radius: 20px;
}

.input-form{
  display:flex;
  flex-direction: column;
  height: fit-content;
  flex-wrap: wrap;
  gap:24px;
  max-width: 750px;
}
input, textarea{
  border:2px solid transparent;
  border-radius: 12px;
  padding:10px;
  transition: border .25s,box-shadow .25s;
  /* background-color: rgb(236, 230, 230); */
  background-color: rgb(215, 210, 210);
  /* width:100px; */
}
label{
  font-weight: bold;
  display:flex;
  flex-direction: column;
  width:300px;
  justify-content: center;
  font-size:20px;
}

.general-information{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.education{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.education-display{
  font-size: 20px;
}
.education-info{
  margin: 0px 20px 0px 20px;
}

.experience-info {
  display:flex;
  flex-direction:column;
  gap:5px;
}

.personal-information{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e374e;
  color:#f9f9f9;
}
.email-phone{
  display:flex;
  flex: space-between;
  gap:20px;
}

.title-date{
  display:flex;
  justify-content: space-between;
}
.school-name{
  text-align: left;
  margin-bottom: 0px;
}

.practical-experience{
  display:flex;
  flex-direction: column;
  font-size: 20px;
  
}
.experience{
  display:flex;
  flex-direction: column;
  gap:20px;
}
.position-date{
  display:flex;
  justify-content:space-between;
  margin:0px 20px 0px 20px;
  align-items: center;
}

.description{
  text-align: left;
  margin:0px 20px 0px 20px;
}
.company-name{
  text-align: left;
  margin:0px 20px 0px 20px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#add {
  align-self: flex-end;
}

#delete{
  align-self: flex-start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
